
html {
    overflow: hidden;
    height: 100%;
    width: 90vw;
}

body {
    height: 100%;
    width: 90vw;
    display: flex;
    flex-flow: column;
    padding-left: 5vw;
    padding-right: 5vw;
    margin: 0;
    font-family: Georgia, "Neuton", "Charis SIL", Utopia, "URW Bookman L", serif;
    font-size: 0.9em;
    background-color: #f1f1f1;
}

a {
    text-decoration: none;
    color: rgb(81, 97, 113);
}

/* top */

header {
    width: 100%;
    height: 11vh;
    color: rgb(44, 44, 44);
    background-color: #f1f1f1;
    max-height: 70vh;
    margin-bottom:auto;
    box-sizing: border-box;
    overflow: hidden;
    z-index: 0;
}

/* index */

main.work#index {
    max-height: 80vh;
    max-width: 90vw;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

main.work#index img {
    justify-content: center;
    align-items: center;
    max-width: 55vw;
    object-fit: contain;
    box-sizing: border-box;
    text-align: center;
    overflow: hidden;
}

/* work */

main.work#newspapers {
    max-height: 80vh;
    max-width: 90vw;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 11vh;
}

main.work#newspapers img {
    justify-content: center;
    align-items: center;
    max-height: 70vh;
    max-width: 80vw;
    object-fit: contain;
    box-sizing: border-box;
    text-align: center;
    overflow: hidden;
}

main.work#drawings {
    justify-content: center;
    align-items: center;
    max-height: 60vh;
    max-width: 70vw;
    object-fit: contain;
    box-sizing: border-box;
    text-align: center;
    overflow: hidden;
}

/* about */

main#about img {
    height: 20vh;
}

main.work div.slide {
    display: none;
}

/* main.work div#first {
    display: block;
} */

main#about {
    flex-direction: row;
    max-height: 80vh;
    max-width: 90vw;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: auto;

}

main#about img {
    display: none;
    max-width:50vw;
    max-height: 50vh;
    margin-top: auto;
    box-sizing: border-box;
    margin-left: auto;
    padding-left: 5vw;
    padding-right: 5vw;
    overflow: hidden;
}

p.info {
    padding-top: 1px;
    margin-left: 5vw;
    margin-right: 5vw;
    font-size: 0.9em;
    container-name: tekst;
}


/* footer */

footer {
    /* flex-flow: row; */
    height: 10vh;
    width: 90vw;
    margin-top: auto;
    margin-bottom: 10px ;
    flex-shrink: 0;
}

footer p {
    float: left;
    padding:0;
    margin-left: 5vw;
    vertical-align:bottom;
}

footer p#commaspace, p#year{
    margin-left:0;
    padding: 0;
}

footer button {
    float: right;
    background-color: rgb(161, 160, 160);
    text-decoration: none;
    text-align: center;
    border: none;
    border-radius: 100%;
    margin-right: 5vw;
    margin-top: 6px;
    width: 33px;
    height: 33px;
    line-height: 32px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

footer button#y h3{
    font-size: larger;
}

footer button#back {
    background-color: #f1f1f1;
}

/* adjustment for bigger screens */
@media (min-width: 600px) {
    body {
        font-size: 1em;
    }

    main#about {
        display: flex;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }

    main#about div.imagebox {
        display: flex;
        order: 1;
        justify-content: space-between;
        align-items: space-between;
        margin-right: auto;
        margin-bottom: 5vw;
        max-width: 500px;
    }

    main#about div.textbox {
        display: flex;
        max-width: 500px;
        order: 2;
        margin-left: auto;
    }

    main#about img {
        display: flex;
    }
    

    p.info {
        font-size: 1em;
    }
}
