/* general */

html {
    overflow: hidden;
}

body {
    height: 100vh;
    width: 90vw;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding-left: 5vw;
    padding-right: 5vw;
    margin: 0;
    font-family: Georgia, "Neuton", "Charis SIL", Utopia, "URW Bookman L", serif;
    font-size: 0.9em;
    background-color: #f1f1f1;
}

header {
    flex: 0 0 75px;
    height: 75px;
    /* background-color: red; */
}

main {
    display: flex;
    flex: 1 1 calc(100vh - 150px);
    justify-content: center;
    align-items: center;
}

footer {
    flex: 0 0 75px;
    height: 75px;
}

a {
    text-decoration: none;
    color: hsl(210, 16%, 38%);
}

/* top */

header {
    width: 100%;
    color: rgb(44, 44, 44);
    background-color: #f1f1f1;
    margin-bottom:auto;
    /* background-color: red; */
}

/* index */

main.work.index {
    display: flex;
    flex: 1 1 calc(100vh - 150px);
    justify-content: center;
    align-items: center;
}

main.work.index div.stack a img {
    flex: 1 1 calc(100vh - 400px);
    object-fit: contain;
    box-sizing: border-box;
    overflow: hidden;
    height: 80vh;
    max-width: 90vw;
    padding-top: 0;
    padding-bottom: 0;
}

/* work */

main.work.newspapers {
    /* height: 80vh; */
    margin-left: auto;
    margin-right: auto;
}

main.work.newspapers div.slide {
    display: none;
}

main.work.newspapers div.slide#first {
    display: flex;
}

main.work.newspapers img {
    flex: 1 1 calc(100vh - 150px);
    object-fit: contain;
    box-sizing: border-box;
    overflow: hidden;
    height: 80vh;
    max-width: 90vw ;
    padding-top: 25px;
    padding-bottom: 25px;
}

main.work.newspapers .horizontal img {
    width: 90vw;
}

main.work.postcards {
    height: 60vmax;
    object-fit: contain;
    box-sizing: border-box;
    text-align: center;
    overflow: hidden;
}

/* about */

main.about {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* background-color: green; */

}

/* main.about div.image {
    /* background-color: aqua; */
/* } */ 

main.about img {
    display: none;
}

main.about div.text {
    flex: 1 1 auto;
    max-width: 255px;
    /* background-color: magenta; */
}

/* footer */

footer {
    background-color: #f1f1f1;
    width: 90vw;
    margin-top: auto;
    /* background-color: red; */
}

footer p {
    float: left;
    padding:0;
    margin-left: 5vw;
    vertical-align:bottom;
}

footer p#commaspace, p#year{
    margin-left:0;
    padding: 0;
}

footer button {
    float: right;
    background-color: hsl(0, 1%, 63%);
    text-decoration: none;
    text-align: center;
    border: none;
    border-radius: 100%;
    margin-right: 5vw;
    margin-top: 6px;
    width: 33px;
    height: 33px;
    line-height: 32px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

footer button h3 {
    color: hsl(210, 16%, 38%);
    padding-bottom: 3px;
}

footer .index, .newspapers .about button h3{
    font-size: larger;
}

footer.about button {
    background-color: #f1f1f1;
}

/* adjustment for bigger screens */
@media ((min-width : 375px) and (min-height : 775px)) {
    
    main.about {
        display: flex;
        flex-flow: column;
        max-width: 600px;
        max-height: 400px;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        align-items: center;
        padding-top: 0;
        padding-bottom: 0;
        /* background-color: green; */

    }

    main.about div.text {
        max-width: 333px;

    }

    main.about img {
        display: flex;
        width: 100%;
        height: auto;
    }
    
    main.about div.image {
        /* background-color: aqua; */
        display: flex;
        flex: 0 1 auto;
        max-width: 333px;
        padding-bottom: 25px;
    }

    main.about div.text {
        
        padding-top: 25px;
        flex: 1 1 auto;
    }
}

@media (min-width : 500px) and (min-height : 775px) {

    /* main.work.index div.stack a img {
        flex: 1 1 calc(100vh - 400px);
        object-fit: contain;
        box-sizing: border-box;
        overflow: hidden;
    }  */

    main.about {
        display: flex;
        flex-flow: column;
        max-width: 600px;
        max-height: 400px;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        align-items: flex-start;
        padding-top: 0;
        padding-bottom: 0;
        /* background-color: green; */

    }

    main.about div.image {
        display: flex;
        flex: 1 1 auto;
    }

    main.about div.text {
        flex: 0 0 300px;

    }
}

@media (min-width: 700px) and (min-height : 775px) {
    body {
        font-size: 1em;
    }

    p.info {
        font-size: 1em;
    }

    main.about {
        display: flex;
        flex-flow: column;
        max-width: 1000px;
        max-height: 400px;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        align-items: flex-start;
        padding-top: 0;
        padding-bottom: 0;
        /* background-color: green; */

    }

    main.about div.image {
        display: flex;
        flex: 1 1 auto;

    }

    main.about div.text {
        flex: 1 1 auto;
    }

    footer button {
        float: right;
        background-color: hsl(0, 1%, 63%);
        text-decoration: none;
        text-align: center;
        border: none;
        border-radius: 100%;
        margin-right: 5vw;
        margin-top: 3px;
        width: 36px;
        height: 36px;
        line-height: 35px;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        vertical-align: middle;
    }
}

    footer button h3{
        font-size: 1.5em;
        padding-bottom: 5px;
    }

@media (min-width: 1200px) and (min-height : 775px){

    main.about {
        display: flex;
        flex-flow: row;
        width: 2500px;
        /* margin-left: auto;
        margin-right: auto;
        justify-content: center;
        align-items: center;
        padding-top: 0;
        padding-bottom: 0;
        width: 2000px;
        background-color: green; */
    } 

    main.about div.image { 
    /*    display: flex;
        flex: 0 0 auto;
        padding-right: 25px;
        height: 392px;
        width: 1000px;
*/
        padding-right: 36px;
        min-width: 667px;
    }
*/
    main.about div.text {
        flex: 1 1 auto;
        padding-left: 25px;
    } 

    footer button {
        float: right;
        background-color: hsl(0, 1%, 63%);
        text-decoration: none;
        text-align: center;
        border: none;
        border-radius: 100%;
        margin-right: 5vw;
        margin-top: 0px;
        width: 40px;
        height: 40px;
        line-height: 39px;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        vertical-align: middle;
    }
}
