

html {
    overflow: hidden;
}

body {
    height: 100dvh;
    width: 90vw;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding-left: 5vw;
    padding-right: 5vw;
    margin: 0;
    font-family: /* Georgia , */ "Neuton", "Charis SIL", Utopia, "URW Bookman L", serif;
    font-size: 0.9em;
    background-color: #f1f1f1;
}

main {
    display: flex;
    flex: 1 1 calc(100dvh - 150px);
    justify-content: center;
    align-items: center;
}

footer {
    flex: 0 0 75px;
    height: 75px;
}

a {
    text-decoration: none;
    color: hsl(210, 16%, 38%);
}

/* top */

header {
    flex: 0 0 75px;
    height: 75px;
    display: flex;
    width: 100%;
    color: rgb(44, 44, 44);
    background-color: #f1f1f1;
    margin-bottom: auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

button {
    background-color: hsl(0, 1%, 63%);
    text-decoration: none;
    text-align: center;
    border: none;
    border-radius: 100%;
    margin-left: 20px;
    width: 34px;
    height: 34px;
    line-height: 33px;
    justify-content: center;
    align-items: center;

    cursor: grab;
}

button h3 {
    color: hsl(210, 16%, 38%);
    padding-bottom: 3px;
    margin-top: -2px;
}

.index, .newspapers .about button h3{
    font-size: larger;
}

.about button {
    background-color: #f1f1f1;
}

header h1 {
    flex: 75%;
    text-align: right;
    padding-right: 2vw;
}


/* index */

main.work.index {
    display: flex;
    flex: 1 1 calc(100dvh - 150px);
    justify-content: center;
    align-items: center;
}

main.work.index div.stack a img {
    flex: 1 1 calc(100dvh - 400px);
    object-fit: contain;
    box-sizing: border-box;
    overflow: hidden;
    height: 80dvh;
    max-width: 90vw;
    padding-top: 0;
    padding-bottom: 0;
}

/* index */

main.work.index div.slide {
    display: none;
}

main.work.index div.slide#first {
    display: flex;
}

/* work */

main.work {
    cursor: zoom-in;
}

/* newspapers */

main.work.newspapers {
    /* height: 80dvh; */
    margin-left: auto;
    margin-right: auto;
}

main.work.newspapers div.slide {
    display: none;
}

main.work.newspapers div.slide#first {
    display: flex;
}

main.work.newspapers img {
    flex: 1 1 calc(100dvh - 150px);
    object-fit: contain;
    box-sizing: border-box;
    overflow: hidden;
    height: 80dvh;
    max-width: 90vw ;
    padding-top: 25px;
    padding-bottom: 25px;
}

main.work.newspapers .horizontal img {
    width: 90vw;
}

/* postcards */

main.work.postcards {
    height: 60vmax;
    object-fit: contain;
    box-sizing: border-box;
    text-align: center;
    overflow: hidden;
}

main.work.postcards {
    /* height: 80dvh; */
    margin-left: auto;
    margin-right: auto;
}

main.work.postcards div.slide {
    display: none;
}

main.work.postcards div.slide#first {
    display: flex;
}

main.work.postcards img {
    flex: 1 1 calc(100dvh - 150px);
    object-fit: contain;
    box-sizing: border-box;
    overflow: hidden;
    height: 80dvh;
    max-width: 90vw ;
    padding-top: 25px;
    padding-bottom: 25px;
}

/* about */

main.about {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    max-height: 400px;
    justify-content: center;
    align-items: center;
    /* background-color: green; */

}

/* main.about div.image {
    /* background-color: aqua; */
/* } */ 

main.about img {
    display: none;
    width: 256px;
    height: auto;
}

main.about div.text {
    flex: 1 1 auto;
    max-width: 255px;
    /* background-color: magenta; */
}

/* footer */

footer {
    flex: 0 0 75px;
    background-color: #f1f1f1;
    width: 90vw;
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: baseline;
    /* background-color: red; */
}

footer span#nav {
    margin-bottom: 20px;
}

footer p {
    padding:0;
    margin-left: 5vw;
    vertical-align:bottom;
}

footer p#comma, p#year{
    margin-left:0;
    padding: 0;
}

footer h3 {
    vertical-align: center;
    padding-right: 2vw;
}

footer p {
    margin-bottom: 40px;
}

footer nav {
    user-select: none;
    -webkit-user-select: none;
}

footer span#left {
    cursor: w-resize;
    user-select: none;
    -webkit-user-select: none;
}

footer span#middle {
    user-select: none;
    -webkit-user-select: none;
}

footer span#right {
    cursor: e-resize;
    user-select: none;
    -webkit-user-select: none;
}

footer.about span#middle {
    cursor: w-resize;
}

/* adjustment for bigger screens */
@media (min-width : 375px) {
    
    main.about {
        display: flex;
        flex-direction: column;
        max-width: 600px;
        max-height: 400px;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        align-items: center;
        /* background-color: green; */
    }

    main.about div.text {
        max-width: 333px;

    }

    main.about img {
        display: flex;
        width: 100%;
        height: auto;
    }
    
    main.about div.image {
        /* background-color: aqua; */
        display: flex;
        flex: 0 1 auto;
        max-width: 333px;
    }

    main.about div.text {
        
        flex: 1 1 auto;
    }
}

@media ((min-width : 375px) and (min-height : 750px)) {
    
    main.about {

        font-size: 0.9em;
        display: flex;
        flex-flow: column;
        max-width: 600px;
        max-height: 400px;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        align-items: center;

    }

    main.about div.text {
        max-width: 333px;

    }

    main.about img {
        display: flex;
        width: 100%;
        height: auto;
    }
    
    main.about div.image {
        /* background-color: aqua; */
        display: flex;
        flex: 0 1 auto;
        max-width: 333px;
    }

    main.about div.text {
        flex: 1 1 auto;
    }
}

@media (min-width : 500px) and (min-height : 775px) {

    /* main.work.index div.stack a img {
        flex: 1 1 calc(100dvh - 400px);
        object-fit: contain;
        box-sizing: border-box;
        overflow: hidden;
    }  */

    main.about {
        display: flex;
        flex-flow: column;
        max-width: 600px;
        max-height: 400px;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        align-items: flex-start;
        /* background-color: green; */

    }

    main.about div.image {
        display: flex;
        flex: 1 1 auto;
    }

    main.about div.text {
        flex: 0 0 300px;

    }
}

@media (min-width: 700px) and (min-height : 775px) {
    body {
        font-size: 1em;
    }

    p.info {
        font-size: 1em;
    }

    main.about {
        display: flex;
        flex-flow: column;
        max-width: 1000px;
        max-height: 400px;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        align-items: flex-start;
        /* background-color: green; */

    }

    main.about div.image {
        display: flex;
        flex: 1 1 auto;

    }

    main.about div.text {
        flex: 1 1 auto;
    }

}

    button h3{
        font-size: 1.5em;
        padding-bottom: 5px;
    }

@media (min-width: 1200px) and (min-height : 775px){

    main.about {
        display: flex;
        flex-flow: row;
        width: 2500px;
        /* margin-left: auto;
        margin-right: auto;
        justify-content: center;
        align-items: center;
        padding-top: 0;
        padding-bottom: 0;
        width: 2000px;
        background-color: green; */
    } 

    main.about div.image { 
    /*    display: flex;
        flex: 0 0 auto;
        padding-right: 25px;
        height: 392px;
        width: 1000px;
*/
        padding-right: 12px;
        min-width: 666px;
    }

    main.about div.text {
        flex: 1 1 auto;
        padding-left: 25px;
    } 

    button {
        background-color: hsl(0, 1%, 63%);
        text-decoration: none;
        text-align: center;
        border: none;
        border-radius: 100%;
        margin-left: 13px;
        margin-top: 15px;
        width: 40px;
        height: 40px;
        line-height: 39px;
        justify-content: center;
        align-items: center;
        vertical-align: middle;
        cursor: grab;
    }
}
